@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --body-bg: #FFFFFF;
    --light-bg: #262945;
    --container-bg: #1D2037;
    --light-txt: RGBA(38, 41, 69, 0.5);
    --dark-txt: #262945;
    --main-button-accents: #846EE5;
    --main-button-bg: #3D386C;
    --secondary-button-bg: #244972;
    --secondary-button-accents: #2FA9FF;
    --border-radius: 10px;
    --padding: 30px;
    --light-border: rgba(64,64,69,.1);
}

* {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
}

body {
    color: var(--dark-txt);
    background-color: var(--body-bg);
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-size: 20px;
}

button {
    border: none;
    background-color: transparent;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1420px;
    margin: 0 auto;
    padding: 20px;
}


.logo-container {
    display: flex ;
    align-items: center;
    gap: 10px;
}

.logo-container img {
    max-width: 43px;
}



header nav ul {
    list-style-type: none;
    color: var(--dark-txt);
    display: flex;
    flex-direction: row;
    gap: 25px;
}

header .user-container {
    color: var(--dark-txt);
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

header .user-container i {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #E0E0E0;
    border-radius: 100%;
}

.notification {
    position: relative;
}

.notification span {
    position: absolute;
    top: -2px;
    right: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 14px;
    height: 14px;
    color: #fff;
    font-size: 10px;
    background: #D83130;
    border-radius: 100%;
}

section {
    max-width: 1420px;
    margin: 0 auto;
}

.container-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
}

.container {
    width: 100%;
    border: 1px solid #E0E0E0;
    padding: 20px;
    border-radius: 10px;
}

.container .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-input input {
    border: none;
    background-color: #F7F6FA;
    padding: 10px;
    
}

.user-input button{
    color: #7153F3;
    background-color: #F1EEFE;
    height: 43px;
    padding: 0 40px;
    border-radius: 10px;
}

label,input {
    display: flex;
    flex-direction: column;
}

.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.widgets-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}